includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app
        - database
        - routes
    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php
        - %rootDir%/../../../bootstrap/app.php
    ignoreErrors:
    - '#Undefined variable: \$this#'
    
    
